header{
    background-color: rgba(47, 47, 43,0.2);
    background-attachment: fixed;
    position: fixed;
    -webkit-backdrop-filter: blur(100%);
    top:0;
    left:0;
    width: 100%;
}
h1{
    color: white;
    font-size: large;
    height: 5vh;
    text-align: center;
}
.hidden{
    display: none;
}
.hidden-body{
    overflow: hidden;
}
.show-body{
    overflow: none;
}
.show{
    display: inherit;
    
}
.show > ul{
    display: flex;
    height: 95vh;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}
.show > ul  >a {
    padding: 50px 0;
    width: 100%;
}
a{  
    font-size:x-large;
    color: white;
    text-decoration: none;
}
.show>ul> a:hover {
    transition: 1s;
    background-color: white;
    
    color: rgb(49, 49, 49);
}
.burger-menu{
    position: absolute;
    top: 1px;
    right: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.burger-bar{
    width: 29px;
    height: 4px;
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
}
.hidden {
    display: none;
}

.visible {
    display: inherit;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1){
    transform: rotate(10deg) translate(0em,0.8em);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2){
    transform: scale(0,1);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3){
    transform: rotate(170deg) translate(0em, 1em);
    transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
    transform: rotate(0deg) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
.show{
    width: 100%;
    background-color: rgba(49, 49, 49,0.8);
    position: absolute;
    top: 5vh;
    left: 0;
}
    
